<div th:fragment="transactionsTable(transactionsPage, currentUri, bankAccount, filter)">

    <div class="mb-3">
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                data-bs-target="#filterCollapse" aria-expanded="false"
                aria-controls="filterCollapse">
            <i class="bi bi-funnel"></i> Фильтры
        </button>
    </div>
    <!-- Форма фильтрации -->
    <div class="collapse mb-3" id="filterCollapse">
        <div class="card card-body">
            <form th:action="@{${currentUri}}" method="get">
                <input type="hidden" name="page" value="0">

                <!-- Фильтр по дате -->
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label">Дата от:</label>
                        <input type="date" name="dateFrom" class="form-control"
                               th:value="${filter?.dateFrom}">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Дата до:</label>
                        <input type="date" name="dateTo" class="form-control"
                               th:value="${filter?.dateTo}">
                    </div>
                </div>

                <!-- Фильтр по сумме -->
                <div class="row mb-3">
                    <div class="col-md-3">
                        <label class="form-label">Сумма от:</label>
                        <input type="number" step="0.01" name="amountFrom" class="form-control"
                               th:value="${filter?.amountFrom}">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Сумма до:</label>
                        <input type="number" step="0.01" name="amountTo" class="form-control"
                               th:value="${filter?.amountTo}">
                    </div>
                </div>

                <!-- Фильтр по типу/статусу/категории -->
                <div class="col-md-4">
                    <label class="form-label" for="statusIds">Статус:</label>
                    <select id="statusIds" class="form-select" name="statusIds" multiple>
                        <option th:each="status : ${T(com.example.fin_monitor_app.model.OperationStatusEnum).values()}"
                                th:value="${status.id}"
                                th:text="${status.getLabel()}"
                                th:selected="${filter?.statusIds != null && filter.statusIds.contains(status.id)}">
                        </option>
                    </select>
                    <small class="text-muted">Выберите один или несколько статусов</small>
                </div>
                <div class="col-md-4">
                    <label class="form-label" for="categoryIds">Категории:</label>
                    <select id="categoryIds" class="form-select" name="categoryIds" multiple>
                        <option th:each="category : ${T(com.example.fin_monitor_app.model.CategoryEnum).values()}"
                                th:value="${category.id}"
                                th:text="${category.getLabel()}"
                                th:selected="${filter?.categoryIds != null && filter.categoryIds.contains(category.id)}">
                        </option>
                    </select>
                    <small class="text-muted">Выберите один или несколько статусов</small>
                </div>
<!--                <div class="row mb-3">-->
<!--                    <div class="col-md-4">-->
<!--                        <label class="form-label">Тип операции:</label>-->
<!--                        <select class="form-select" name="transactionType">-->
<!--                            <option value="">Все</option>-->
<!--                            <option th:each="type : ${T(com.example.fin_monitor_app.model.TransactionTypeEnum).values()}"-->
<!--                                    th:value="${type.name()}"-->
<!--                                    th:text="${type.getLabel()}"-->
<!--                                    th:selected="${filter?.transactionType == type.name()}">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="col-md-4">-->
<!--                        <label class="form-label">Категория:</label>-->
<!--                        <select class="form-select" name="category">-->
<!--                            <option value="">Все</option>-->
<!--                            <option th:each="category : ${T(com.example.fin_monitor_app.model.CategoryEnum).values()}"-->
<!--                                    th:value="${category.name()}"-->
<!--                                    th:text="${category.getLabel()}"-->
<!--                                    th:selected="${filter?.category == category.name()}">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                </div>-->

                <div class="text-end">
                    <button type="submit" class="btn btn-primary me-2">
                        <i class="bi bi-funnel"></i> Применить
                    </button>
                    <a th:href="@{${currentUri}}" class="btn btn-outline-secondary">
                        <i class="bi bi-x-circle"></i> Сбросить
                    </a>
                </div>
            </form>
        </div>
    </div>

    <!-- Таблица операций -->
    <table class="table" th:unless="${transactionsPage.empty}">
        <thead class="table-light">
        <tr>
            <th>Счет</th>
            <th>Тип счета</th>
            <th>Комментарий</th>
            <th>Категория</th>
            <th>Сумма</th>
            <th>Дата операции</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactionsPage}"
            th:class="${transaction.sum > 0 ? 'income' : 'expense'}"
            class="transaction-row">
            <td th:text="${transaction.bankAccount.accountName}"></td>
            <td th:text="${transaction.bankAccount.personType.name}"></td>
            <td th:text="${transaction.commentary} ?: 'Без комментария'"></td>
            <td th:text="${transaction.category.name}"></td>
            <td th:text="${transaction.sum > 0 ? '+' : ''} + ${#numbers.formatDecimal(transaction.sum, 1, 2)}"></td>
            <td th:text="${#temporals.format(transaction.createDate, 'dd.MM.yyyy HH:mm')}"></td>
            <!-- Добавил статус в список -->
            <td th:text="${transaction.operationStatus.name}"></td>
            <td>
                <!-- Кнопка с проверкой статусов -->
                <button type="button"
                        class="btn"
                        th:classappend="${transaction.operationStatus.name != 'Новая'} ?
                        'btn-secondary disabled' : 'btn-danger'"
                        th:disabled="${transaction.operationStatus.name != 'Новая'}"
                        th:attr="data-id=${transaction.id}"
                        onclick="deleteTransaction(this)">
                    Удалить
                </button>
                <!-- Кнопка редактирования операции -->
                <button type="button"
                        class="btn"
                        th:classappend="${transaction.operationStatus.name != 'Новая'} ?
        'btn-secondary disabled' : 'btn-warning'"
                        th:disabled="${transaction.operationStatus.name != 'Новая'}"
                        th:attr="data-id=${transaction.id}, data-account-name=${transaction.bankAccount.accountName},
                                 data-account-balance=${transaction.bankAccount.balance}"
                        data-bs-toggle="modal"
                        data-bs-target="#editTransactionModal"
                        onclick="prepareEditForm(this)">
                    Редактировать
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- Подключаем фрагмент для редактирования операции -->
    <div th:replace="~{/account/fragments/edit-transaction-modal :: editTransactionModal(bankAccounts=${bankAccount})}"></div>
    <!-- Пагинация -->
    <div th:if="${transactionsPage.totalPages > 1}">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <!-- Первая страница -->
                <li class="page-item" th:classappend="${transactionsPage.first} ? 'disabled'">
                    <a class="page-link" th:href="@{${currentUri}(page=0,
                                dateFrom=${filter?.dateFrom},
                                dateTo=${filter?.dateTo},
                                amountFrom=${filter?.amountFrom},
                                amountTo=${filter?.amountTo},
                                statusIds=${filter?.statusIds},
                                categoryIds=${filter?.categoryIds})}">Первая</a>
                </li>

                <!-- Предыдущая страница -->
                <li class="page-item" th:classappend="${transactionsPage.first} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{${currentUri}(page=0,
                                dateFrom=${filter?.dateFrom},
                                dateTo=${filter?.dateTo},
                                amountFrom=${filter?.amountFrom},
                                amountTo=${filter?.amountTo},
                                statusIds=${filter?.statusIds},
                                categoryIds=${filter?.categoryIds})}">Первая</a>
                </li>

                <!-- Номера страниц -->
                <li th:each="i : ${#numbers.sequence(0, transactionsPage.totalPages - 1)}"
                    class="page-item"
                    th:classappend="${i == transactionsPage.number} ? 'active'">
                    <a class="page-link"
                       th:href="@{${currentUri}(page=${i},
                                dateFrom=${filter?.dateFrom},
                                dateTo=${filter?.dateTo},
                                amountFrom=${filter?.amountFrom},
                                amountTo=${filter?.amountTo},
                                statusIds=${filter?.statusIds},
                                categoryIds=${filter?.categoryIds})}"
                       th:text="${i + 1}"></a>
                </li>

                <!-- Следующая страница -->
                <li class="page-item" th:classappend="${transactionsPage.last} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{${currentUri}(page=${transactionsPage.number + 1},
                                dateFrom=${filter?.dateFrom},
                                dateTo=${filter?.dateTo},
                                amountFrom=${filter?.amountFrom},
                                amountTo=${filter?.amountTo},
                                statusIds=${filter?.statusIds},
                                categoryIds=${filter?.categoryIds})}">Следующая</a>
                </li>

                <!-- Последняя страница -->
                <li class="page-item" th:classappend="${transactionsPage.last} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{${currentUri}(page=${transactionsPage.totalPages - 1},
                                dateFrom=${filter?.dateFrom},
                                dateTo=${filter?.dateTo},
                                amountFrom=${filter?.amountFrom},
                                amountTo=${filter?.amountTo},
                                statusIds=${filter?.statusIds},
                                categoryIds=${filter?.categoryIds})}">Последняя</a>
                </li>
            </ul>
        </nav>
    </div>
</div>